.headerOuterWrapper {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 10vh;
  color: #fff;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.headerInnerWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerInnerWrapper ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.headerLeft ul {
  width: 140%;
}
.headerRight ul {
  width: 150%;
}
.headerLeft ul,
.headerRight ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
