.fotterOutterWrapper {
  display: flex;
  background-color: #111;
  justify-content: center;
  color: gray;
}
.fotterInnerWrapper {
  width: 70%;
}
.footerIcons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
  padding-top: 25px;
  list-style: none;
}

.fotterData {
  display: flex;
  justify-content: space-between;
}
.fotterData ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
}
.fotterData ul li {
  cursor: pointer;
  padding:  7px 0;
}
.serviceCode {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  width: 10%;
  margin: 30px 0 10px;
  cursor: pointer;
}
.copyWrite {
  font-size: 12px;
  margin-bottom: 10px;
}
